@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&display=swap');

//GENERAL TWEAKS
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Belanosima', sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

//GENERAL TWEAKS END


//HEADER
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em 1em;

    svg {
        max-width: 3em;
    }

    .desktop-navs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3em;
        flex-basis: 90%;

        ul {
            display: flex;
            gap: 2em;
            list-style-type: none;

            a {
                text-decoration: none;
            }
        }

        //left links
        .left-links {
            li {
                a {
                    color: #373737;
                }
            }
        }

        //left links end


        //right links
        .right-links>:nth-child(1) {
            a {
                //FIND A STORE
                margin-right: 2em;
                color: #444444;
            }

        }

        .right-links>:nth-child(1):hover {
            a {
                color: #00754a;
            }
        }

        .right-links {

            .sign-in {
                a {
                    color: #000;
                    padding: 7px 20px;
                    border-radius: 50px;
                    border: solid 1px #000;
                }

                a:hover {
                    background-color: #0000001a;
                }
            }

            .join-now {
                a {
                    background-color: #000;
                    color: #fff;
                    padding: 7px 20px;
                    border-radius: 50px;
                }

                a:hover {
                    background-color: #000000b2;
                }
            }
        }

        //right links end


    }

    //burger button
    // #menu-toggle {
    //     display: none;
    // }
    //burger button end
}

//HEADER END
















//MEDIA QUERIES//

@media screen and (max-width:768px) {

    // body.active {
    //     background-color: #2b2a2a;
    //     overflow: hidden;
    // }

    // HEADER
    header {
        width: 100%;
        justify-content: space-between;
        box-shadow: 0px 0px 8px #6e6e6e;
        position: fixed;
        z-index: 20;

        .desktop-navs {
            display: none;
        }

        #menu-toggle {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: transparent;
            border: none;
            cursor: pointer;
            gap: 4px;
            z-index: 10;

            span {
                display: block;
                height: 3px;
                background: #535353;
                width: 2em;
                transition: all 0.3s;
            }
        }

        #menu-toggle.is-active :nth-child(1) {
            transform: rotate(-45deg) translate(-3px, 6px);
        }

        #menu-toggle.is-active :nth-child(2) {
            opacity: 0;
        }

        #menu-toggle.is-active :nth-child(3) {
            transform: rotate(45deg) translate(-3px, -8px);
        }
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        gap: 3em;
        background-color: rgb(236, 119, 119);
        min-height: 100vh;
        padding: 1em 2em;
        position: fixed;
        top: 6em;
        width: 80%;
        left: 100%;
        transition: all .2s;

        .top-menu {
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 1em;

            li {
                a {
                    color: #222222;
                }
            }

            .chevron:nth-child(1) {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
        }

        .bottom-menu {
            display: flex;
            flex-direction: column;
            font-size: 1.1rem;
            gap: 1em;

            ul {
                display: flex;
                align-items: center;
                gap: 1.2em;
                // gap: 2em;

                .sign-in-mobile {
                    padding: 7px 20px;
                    border-radius: 50px;
                    border: solid 1px #000;
                    white-space: nowrap;

                    a {
                        color: #000;
                    }
                }

                .join-now-mobile {
                    background-color: #000;
                    padding: 7px 20px;
                    border-radius: 50px;
                    white-space: nowrap;


                    a {
                        color: #fff;
                    }
                }

            }

            .find-store-mobile {

                a {
                    color: #505050;
                }
            }

        }
    }
    .mobile-nav.in-action {
        left: 20%;
    }
    // HEADER
}